<!DOCTYPE html>
<html>
<head>
    <title>Test Query</title>
</head>
<body>
<h1>Incoming <%= opsType %></h1>
<p>params: <%= incomingParams %></p>
<p>query: <%= incomingQuery %></p>
<p>posting: <%= incomingBody %></p>
</body>
</html>