html {
    height: 100%;
    background-image: linear-gradient(#fffffb, #ffffff);
    -webkit-font-smoothing: antialiased;
}

.content {
    max-width:1200px;
    margin:auto;
    padding:20px;
}

.jd-spacer {
    margin: 20px;
}

.jd-box {
    box-shadow: 0 0 5px gray;
    border-radius:5px;
    padding: 30px;
}

.jd-form-title {
    font: 18px Verdana;
    font-weight: bold;
}

.jd-form-field-label {
    font: 12px Verdana;
    margin-top: 15px;
}

.jd-form-field-label-err {
    font: 12px Verdana;
    color:red;
}

.jd-form-field-input {
    font: 14px Verdana;
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    -webkit-box-sizing: border-box;
}

.jd-form-field-input-err {
    border: 1px solid red;
}
/*override default style*/
.siimple-card-cus {
    background-color: yellow;
    color:black;
}

.siimple-table-cus {
    font: 12px Verdana;
}

.siimple-table-row-selected {
    background: rgba(202, 200, 202, 0.36);
}

.siimple-table-cell-approve {
    font-weight: bold;
    color: #00a000;
}

.siimple-table-cell-pending {
    font-weight: bold;
    color: red;
}

.react-datepicker-wrapper {
    width:100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
}

.card-img {
    float:right;
}
.card-title {
    margin-top: 20px;
    font: 18px Verdana;
    font-weight: bold;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
    clear:right;
    padding: 10px;
    /*padding: 2px 16px;*/
}

.card-container-title {
    font: 18px Verdana;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-container-description {
    font: 16px Verdana;
    margin-top:10px;
}

/********* nav bar ************/
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    margin: 5px;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-right: 1px solid #aeaeae;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav-right a {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

